<div class="comment-detail-container" *ngIf="!comment">
  <em>No comment selected</em>
</div>

<div class="comment-detail-container" *ngIf="comment">
  <div class="title-container__title">
    <h2>{{comment.name || 'Anonymous'}}</h2>
    <div class="comment-detail__date">
      {{comment.createTimestamp | date:'medium'}}
    </div>
  </div>
  <div class="comment-detail__meta">
    <div>
      <a href="mailto:{{comment.email}}">{{comment.email}}</a>
    </div>
    <div>
      <a href="tel:{{comment.phoneNumber}}">{{comment.phoneNumber}}</a>
    </div>
    <div>
      {{comment.location}}
    </div>
  </div>
  <hr>
  <div class="comment-detail__scope">
    Commenting On:
    <span class="scope-desc">
      {{comment.commentScope.description}}
      {{ (commentScopeCodes.CUT_BLOCK.code === comment.commentScope.code)? '#'+ comment.scopeCutBlockId:
      ((commentScopeCodes.ROAD_SECTION.code === comment.commentScope.code)? '#'+ comment.scopeRoadSectionId:
      '')
      }}
      {{ comment.scopeFeatureName? ' - '+ comment.scopeFeatureName: ''}}
    </span>
  </div>
  <div class="comment-detail__body" [innerHTML]="comment.feedback | newlines"></div>
  <hr>

  <!-- Pagination controls -->
  <div class="detail-pagination">
    <button class="btn btn-xs pg-btn" [disabled]="!canReplyComment || isFirstComment()" (click)="selectPrevComment()">
      <em class="material-icons md-16">chevron_left</em>
    </button>
    <span class="pg-count">{{ getCurrentCommentIndex() + 1 }} of {{ getTotalComments() }}</span>
    <button class="btn btn-xs pg-btn" [disabled]="!canReplyComment || isLastComment()" (click)="selectNextComment()">
      <em class="material-icons md-16">chevron_right</em>
    </button>
    <button class="btn btn-xs pg-btn" [disabled]="!canReplyComment || isLastUnactioned()"
      (click)="selectNextUnactioned()">
      <em class="material-icons md-16">skip_next</em> Next unactioned
    </button>
  </div>

  <form [formGroup]="commentFormGroup">
    <div class="row">
      <div class="col-md-4">
        <label>Response to Comment</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="status-toggle-group">
          <button type="button" class="status-toggle-btn status-toggle--considered"
            [class.active]="commentFormGroup.get('responseCode').value === 'CONSIDERED'"
            (click)="setResponseCode('CONSIDERED')" [disabled]!canReplyComment>
            Considered
          </button>
          <button type="button" class="status-toggle-btn status-toggle--addressed"
            [class.active]="commentFormGroup.get('responseCode').value === 'ADDRESSED'"
            (click)="setResponseCode('ADDRESSED')" [disabled]!canReplyComment>
            Addressed
          </button>
          <button type="button" class="status-toggle-btn status-toggle--not-applicable"
            [class.active]="commentFormGroup.get('responseCode').value === 'IRRELEVANT'"
            (click)="setResponseCode('IRRELEVANT')" [disabled]!canReplyComment>
            Not Applicable
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <label>Response Details</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <textarea class="form-control  mb" rows="3" id="detail" name="detail" formControlName="responseDetails"
          maxlength="{{responseDetailsLimit}}">
        </textarea>
        <small>{{responseDetailsLimit-commentFormGroup.get('responseDetails').value?.length}} characters
          remaining.</small>
      </div>
    </div>
    <ng-content>
    </ng-content>
  </form>
</div>
