/* You can add global styles to this file, and also import other style files. */

/* This architecture roughly follows https://sass-guidelin.es/#the-7-1-pattern */

//@import "~mygovbc-bootstrap-theme/dist/mygovbc-bootstrap-theme.min.css";

@use "assets/styles/base/base.scss";

// Helpers
@use "assets/styles/base/helpers.scss" as helpers;

// Layout
@use "assets/styles/layout/layout.scss";

// Typography
@use "assets/styles/base/typography.scss";

// Icons
@use "assets/styles/base/material-icons.scss";


// Components
@use "assets/styles/components/accordion.scss";
@use "assets/styles/components/alert-banner.scss";
@use "assets/styles/components/aside.scss";
@use "assets/styles/components/badge.scss";
@use "assets/styles/components/buttons.scss";
@use "assets/styles/components/card.scss";
@use "assets/styles/components/doc-list.scss";
@use "assets/styles/components/filter-bar.scss";
@use "assets/styles/components/form-elements.scss";
@use "assets/styles/components/lists.scss";
@use "assets/styles/components/material.scss";
@use "assets/styles/components/modal.scss";
@use "assets/styles/components/spinner.scss";
@use "assets/styles/components/tab-nav.scss";
@use "assets/styles/components/table.scss";
@use "assets/styles/components/table-cards.scss";

// Third-party Components
// Required for Angular Material styling: (ref: https://material.angular.io/guide/theming)
@use "@angular/material/prebuilt-themes/deeppurple-amber.css";


.invalid {
  position: relative;
  font-weight: 600;
  color: #dc3545;
}

.required:after {
  content:" *";
  color: red;
}

body {
  font-family: BC Sans, Arial, sans-serif;
}