@use "../../../assets/styles/base/base.scss";
@use "../../../assets/styles/abstracts/mixins.scss" as mixins;

:host {
  @include mixins.flex-box();
  @include mixins.flex-direction(column);
  @include mixins.flex(1 1 auto);

  overflow: hidden;
}

.breadcrumb-container {
  padding-bottom: 0.5rem;
  letter-spacing: 0;
  font-size: 0.875rem;
  font-weight: 700;

  i {
    display: inline;
    vertical-align: middle;
    line-height: inherit;
  }

  a:hover {
    text-decoration: none;
  }
}

.top-container {
  padding-right: 0;
}

.bottom-container {
  @include mixins.flex-box();

  overflow: hidden;

  .container {
  @include mixins.flex-box();

    padding-bottom: 1.5rem;
  }
}

.title-container {
  align-items: center;
}

// Panel Layout
.panel {
  @include mixins.flex-box();
  @include mixins.flex-direction(column);

  overflow: hidden;
}

.panel-header {
  @include mixins.flex-box();
  @include mixins.flex(0 0 auto);

  flex-direction: column;
  align-items: baseline;

  padding: 1rem;
  border-bottom: 1px solid #ddd;

  h2 {
  @include mixins.flex(1 1 auto);

    margin-top: 0.75rem;
    white-space: nowrap;
    letter-spacing: -0.02rem;
    font-size: 1rem;
    font-weight: 700;
  }

  .form-control {
    width: 8rem;
    height: auto;
  }
}

.panel-scroll {
  @include mixins.flex(1 1 auto);

  overflow-y: auto;
}

.panel-footer {
  @include mixins.flex(0 0 auto);

  border-top: 1px solid #ddd;
  font-size: 0.875rem;
}

// Layout
.review-comments {
  @include mixins.flex-box();

  flex: 1 1 auto;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0.02rem 0 0.2rem rgba(0, 0, 0, 0.15);
}

// Comment Layout
.review-comments__list {
  @include mixins.flex(0 0 auto);

  width: 27rem;
  border-right: 1px solid #ddd;
  background: #f7f8fa;
}

.review-comments__detail {
  @include mixins.flex(1 1 auto);
}

.sort-comments.form-control {
  height: auto;
  font-size: 0.875rem;
}

// Comment List Items
.comment-item {
  position: relative;
  padding: 0.75rem 1.25rem;
  border: 1px solid transparent;
  border-bottom-color: #ddd;
  font-size: 0.85rem;
  transition: all ease-out 0.2s;

  &::after {
    content: ' ';
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -2px;
    width: 0.25rem;
    background-color: transparent;
    transition: all ease-out 0.2s;
  }

  &:last-child {
    border: none;
  }
}

.comment-item.active {
  background: #fff;

  &::after {
    background-color: #007bff;
  }
}

.comment-item:hover {
  background: #fff;
}

.comment-item:focus {
  border-color: #007bff;
  background: #fff;
}

.comment-item-header {
  @include mixins.flex-box();
  @include mixins.flex-direction(row);
  justify-content: flex-start;
  align-items: baseline;
}

.comment-author {
  @include mixins.flex(1 1 auto);

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 700;
}

.comment-date {
  @include mixins.flex(0 0 auto);

  white-space: nowrap;
  font-size: 90%;
  margin-left: 0.5rem;
}

.comment-response {
 @include mixins.flex(0 0 auto);

  white-space: nowrap;
  font-weight: 90%;
  margin-left: 0.5rem;
}

.comment-body {
  @include mixins.flex(1 1 auto);

  margin-top: 0.2rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #666;
}


// pagination

.pagination {
  text-align: center;

  .btn-group {
    margin: 0 auto;
  }
}

.pg-count {
  padding: 0.75rem;
}

.pg-btn {
  border-radius: 0;

  i {
    margin-top: -0.1rem;
  }
}

.material-icons {
  vertical-align: middle;
}
