@use "../assets/styles/base/base.scss";
@use "../assets/styles/abstracts/mixins.scss" as mixins;

:host {
  display: block;

  @include mixins.flex-box();
  @include mixins.flex-direction(column);

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: hidden;
}

app-header {
  @include mixins.flex(0 0 auto);
}

.app-body {
  @include mixins.flex-box();
  @include mixins.flex(1 1 auto);
  @include mixins.flex-direction(column);

  position: relative;
  overflow-y: auto;
}

@media (min-width: 768px) {
  .app-body {
    margin-top: 68px; // pad the top of the page so content isn't covered by the floating header bar.
  }
}