@use "../themes/default.scss" as theme;
.bg-dark {
  color: theme.$bg-dark-color;
  background-color: theme.$bg-dark;
}

.bg-default {
  background-color: theme.$bg-default;
}

.bg-dark-link {
  color: theme.$bg-dark-link-color;
}

// Named Anchors
.pg-anchor[id]::before {
  content: " ";
  display: block;
  height: 98px;
  margin: -98px 0 0;
}

.amp {
  font-size: 72%;
  font-weight: 400;
}

.no-scroll {
  overflow: hidden;
}
