@use "../../../assets/styles/themes/default.scss" as theme;
@use "../../../assets/styles/base/base.scss";
@use "../../../assets/styles/abstracts/mixins.scss" as mixins;
@use "../../../assets/styles/base/helpers.scss";
@use "../../../assets/styles/components/expand-panel.scss";

$section-margin-bottom: 30px;

.faq-section {
    .faq-title {
        font-size: 0.9375rem;
        font-weight: 700;
        margin-bottom: 10px;
    }
    margin-bottom: $section-margin-bottom;
}

.faq-pdf {
    margin-bottom: $section-margin-bottom;
    a {
        text-decoration:none;
    }
    a:hover {
    color: theme.$white;
    }
}