
@use "../themes/default.scss" as theme;

.bg-dark {
  color: theme.$bg-dark-color;
  background-color: theme.$bg-dark;
}

.bg-dark-link {
  color: theme.$bg-dark-link-color;
}

.amp {
  font-size: 72%;
  font-weight: 400;
}

.text-red {
    color: red;
}