@use "../../../assets/styles/base/base.scss";
@use "../../../assets/styles/abstracts/mixins.scss" as mixins;

.alert-contents {
  @include mixins.flex-box();
  @include mixins.flex-direction(row);

  align-items: center;
}

.alert-contents i {
  @include mixins.flex(0 0 auto);

  margin-right: 1rem;
}

.alert-msg {
  @include mixins.flex(1 1 auto);
}
