@use "../themes/default.scss" as theme;
@use "../abstracts/mixins.scss" as mixins;

aside {
  section {
    + section {
      margin-top: 1.5rem;
    }

    h5 {
      color: theme.$aside-title-color;
      text-transform: uppercase;
      font-size: 0.9375rem;
      font-weight: 700;
    }

    p {
      font-size: 0.9375rem;
      line-height: 1.4rem;
    }
  }

  .card-body {
    background: theme.$aside-bg;
  }
}
