@use "../themes/default.scss" as theme;
.card-header {
  padding: 0.5rem 1rem;
  color: theme.$card-header-color;
  background: theme.$card-header-bg;
  font-size: 0.875rem;
  font-weight: 700;
}

.card-body {
  border: none;
  padding: 1rem;
}
