@use "../abstracts/mixins.scss" as mixins;
@use "../themes/default.scss" as theme;

$doc-list-link-color: #007bff;

// Document List Shared Styling
.doc-list {
  padding: 0;
  margin-top: 0.2rem;

  button {
    max-width: 2rem !important;
  }

  li {
    @include mixins.flex-direction(row);
    @include mixins.flex-direction(row);

    background: #f7f8fa;

    + li {
      margin-top: 2px;
    }
  }

  .doc-list__item {
    @include mixins.flex-box();
    @include mixins.flex-direction(row);

    align-items: center;
    border-radius: 0.2rem;
    background: theme.$gray2;
  }

  // Generic Column Types - Customize in your components as needed
  // Icon
  .doc-list__item-icon {
    i {
      margin-top: 0.5rem;
      font-size: 1.35rem;
      color: inherit;
      cursor: default;
    }
  }

  // Name
  .doc-list__item-name {
    font-size: 0.875rem;
  }

  .cell {
    padding: 0.25rem;
    overflow: hidden;
    text-overflow: ellipsis;

    // Text Content
    &__txt-content {
      margin-top: 0.5rem;
      display: inline-block;
      white-space: nowrap;

      a {
        color: $doc-list-link-color;
        cursor: pointer;

        &:hover {
          color: $doc-list-link-color;
          text-decoration: underline;
        }
      }
    }

    // Icon Column
    &.icon {
      @include mixins.flex(0 0 auto);

      padding-left: 0.75rem;

      i {
        margin-top: 0.5rem;
        font-size: 1.35rem;
        color: #999;
        cursor: default;

        &.link {
          color: $doc-list-link-color;
          cursor: pointer;
        }
      }
    }

    // Name Column
    &.name {
      @include mixins.flex(1 1 auto);

      font-size: 0.875rem;
    }
    &.actions {
      @include mixins.flex(0 0 auto);
    }
  }

  .no-results {
    padding: 0.75rem;
    font-size: 0.9375rem;
  }
}

.doc-list.inline {
  margin: -0.2rem;

  li {
    margin: 0.2rem;
    display: inline-block;
    width: auto;

    .cell {
      display: inline-block;
    }
  }

  .cell__txt-content {
    margin: 0;
  }
}
