@use "../themes/default.scss" as theme;
@use "../abstracts/mixins.scss" as mixins;
.nv-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  li {
    @include mixins.clearfix();

    margin-top: 1px;
    padding: 0.5rem 1rem;
    font-size: 0.9375rem;
    background: theme.$nv-list-bg;
  }

  span {
    &.name,
    &.value {
      float: left;
      display: block;
      width: 50%;
    }

    &.name {
      margin-bottom: 0.25rem;
    }
  }
}

.list-group-item {
  border: none;

  &:nth-child(odd) {
    background: theme.$list-row-bg;
  }

  &:nth-child(even) {
    background: theme.$list-row-alt-bg;
  }
}
