@use "../themes/default.scss" as theme;

.modal-header {
  background-color: theme.$white;

  .modal-title {
    font-weight: bold;
  }
}

.modal-body {
  background-color: theme.$modal-bg;

  textarea {
    width: 100%;
    height: 80px;
    resize: none;
  }
}

.modal-footer {
  background-color: theme.$white;
}
