@use "../../assets/styles/base/base.scss";
@use "../../assets/styles/abstracts/mixins.scss" as mixins;
@use "../../assets/styles/themes/default.scss" as theme;

:host {
  @include mixins.flex(1 1 auto);
}

section {
  h3 {
    margin-bottom: 0.75rem;
    font-size: 1.4rem;
  }

  section {
    margin-top: 1.4rem;
    padding: 0;
  }
}

.related-links {
  section {
    padding-top: 1.5rem;
  border-top: 1px solid theme.$gray4;

    div {
  @include mixins.flex(1 1 auto);

      p {
        margin-bottom: 0;
      }
    }

    .btn {
  @include mixins.flex(0 0 auto);

      align-self: flex-start;
      margin-top: 0.75rem;
      min-width: 8rem;
      white-space: normal;
      font-size: 0.85rem;
      font-weight: 700;
    }
  }
}
