
mat-form-field {
  width: 100%;

  ::ng-deep .mat-mdc-form-field-bottom-align {
    height: 0px;
  }
}
//          //z-index: 2 !important;
//          ngx-dropzone {
//            height: 100px;
//              z-index: 3 !important;

//              ::ng-deep a {
//                  text-decoration: underline;
//                  cursor: pointer;
//              }

//              ngx-dropzone-preview, ngx-dropzone-image-preview {
//                  height: 90px !important;
//                  max-height: 100px !important;
//                  min-height: 50px !important;
//              }
//          }
//      }
//  }

 .invalid-type-msg {
     color: red;
 }