<div>
    <mat-form-field appearance="outline">
        <mat-label style="margin-top: 8px;">Drag file to upload or  <a href="javascript:void(0)">Browse</a> </mat-label>
        <ngx-mat-dropzone>

        <input type="file" fileInput [mode]="'replace'" [formControl]="fileCtrl" />
        @if (fileCtrl.value) {
            <mat-chip-row (removed)="clear()">
                {{ fileCtrl.value.name }}
                <button matChipRemove>
                    <mat-icon>cancel</mat-icon>
                </button>
            </mat-chip-row>
        }
        </ngx-mat-dropzone>
        <mat-icon matSuffix>cloud_upload</mat-icon>
    </mat-form-field>
    <mat-error *ngIf="fileCtrl.hasError('accept')">
        The file type is not accepted.
    </mat-error>
    <mat-error *ngIf="fileCtrl.hasError('maxSize')">
        File is too large. Max: {{ maxFileSize / BYTES_PER_MB }} MB
    </mat-error>
</div>