<div class="export-terms-modal">
  <div class="export-terms-modal__header">
    <p class="eyebrow">{{ termsContent.eyebrow }}</p>
    <div class="header_title">{{ termsContent.title }}</div>
    <p class="subtitle">{{ termsContent.subtitle }}</p>
  </div>

  <mat-dialog-content class="export-terms-modal__content">
    <div class="term-item" *ngFor="let section of termsContent.sections">
      <span class="icon-wrap" aria-hidden="true">
        <mat-icon>{{ section.icon }}</mat-icon>
      </span>
      <div class="term-copy">
        <h6>{{ section.title }}</h6>
        <p>{{ section.description }}</p>
      </div>
    </div>

    <div class="contact-info">
      <p>
        {{ termsContent.contactLabel }}
        <a [href]="'mailto:' + termsContent.contactEmail">{{ termsContent.contactEmail }}</a>
      </p>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end" class="export-terms-modal__actions">
    <button class="btn btn-light" type="button" (click)="onCancel()">Cancel</button>
    <button class="btn btn-primary" type="button" (click)="onAgree()">
      <em class="material-symbols-outlined md-18" aria-hidden="true">download</em>
      <span>I agree, download</span>
    </button>
  </mat-dialog-actions>
</div>