<div class="splash-modal">

  <button class="close-btn btn btn-icon gtm-splash-dismiss" type="button" aria-label="Close" (click)="dismiss()">
    <em class="material-icons">close</em>
  </button>

  <h2>Find Forest Operations Map</h2>
  <div class="intro-text">
    <p>The Province is responsible for managing Timber Sale Licenses (TSL), Cutting Permits (CP) and Road Permits (RP) in British Columbia. For Forest Stewardship Plan holders the Forest Operations Map (FOM) is a prerequisite to obtaining a CP or RP, and allows the public to comment on planned forestry operations. In an average year the Province processes between 5,000 and 7,000 CP/RP applications. Planned cutblocks and roads can be viewed and commented on using the Government’s FOM website, or by visiting the FOM holder’s place of business during the commenting period.</p>
    <p>Use this site to find, learn about, and comment on FOMs throughout British Columbia.</p>
    <p>For help in using this website for commenting please watch this <a href="https://bcgov.github.io/forestry-digital-services/assets/training/FOMpublic/index.html#/lessons/bPu8Fx187gWLV3rC5RjpbKEKkDBwIX93" target="_blank">how-to video <svg aria-hidden="true" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" style="display:inline-block; vertical-align:-0.125em;"><path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/><path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/></svg></a>.</p>
  </div>

  <p class="mb-0"><button class="explore-btn gtm-splash-explore btn btn-link" (click)="explore()">Explore current FOMs</button></p>

</div>
