@use "../../../assets/styles/base/base.scss";
@use "../../../assets/styles/abstracts/mixins.scss" as mixins;
@use "../../../assets/styles/layout/layout.scss";
@use "../../../assets/styles/themes/default.scss" as theme;

:host {
  @include mixins.flex-box();
  @include mixins.flex-direction(column);
  @include mixins.flex(1 1 auto);

  overflow: hidden;
}

form {
  margin: 0 auto;
  padding-top: 3rem;
  padding-right: 6rem;
  padding-bottom: 4.25rem;
  padding-left: 6rem;
  background: #fff;
  box-shadow: 0.02rem 0 0.2rem rgba(#000, 0.15);
  
  legend {
    margin-bottom: 10px;
  }
}

.form-group {
  margin-bottom: 1rem;
  .medium-check-box {
    transform : scale(1.5);
    vertical-align: middle;
    position: relative;
  }
}

.vert-pipe {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  display: inline-block;
  width: 1px;
  border-left: 1px solid #999;
  vertical-align: middle;

  &.first-pipe {
    margin-left: 1.2rem;
  }
}