@use "../../assets/styles/base/base.scss";
@use "../../assets/styles/themes/default.scss" as theme;

.app-footer {
  border-top: 4px solid theme.$gold;
  background: theme.$footer-bg;
  color: theme.$footer-color;

  .container {
    padding: 0.5rem 1.5rem;
  }

  ul {
    padding: 0;
    font-size: 0.875rem;
    list-style-type: none;

    li {
      margin-bottom: 0.25rem;
    }
  }

  a {
  color: theme.$footer-color;

    &:focus,
    &:hover {
  color: theme.$gold;
    }

    &.feedback-link {
  color: theme.$gold;
    }
  }

  .footer-admin {
    margin: 0;
    padding: 0;

    .gov-links {
      text-align: center;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        margin: 0;
        line-height: 1rem;

        &::after {
          position: relative;
          top: -1px;
          display: inline-block;
          margin-left: 0.5rem;
          margin-right: 0.25rem;
          content: '|';
        }

        &:last-child {
          &::after {
            display: none;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .app-footer {
    .footer-admin {
      .gov-links {
        text-align: left;
      }
    }
  }
}