@use "../assets/styles/base/base.scss";
@use "../assets/styles/abstracts/mixins.scss" as mixins;

:host {
  display: block;

  @include mixins.flex-box();
  @include mixins.flex-direction(column);

  min-height: 100vh;
  background: #036;
  overflow: hidden;
}

app-header {
	@include mixins.flex(0 0 auto);
}
