@use "../themes/default.scss" as default;

.table {
  width: 100%;
  table-layout: fixed;

  tr {
    border-top: default.$table-row-border;
  }

  td,
  th {
    text-align: left;

    &:first-child {
      padding-left: 1rem;
    }

    &:last-child {
      padding-right: 1rem;
    }
  }

  thead {
    background: default.$table-header-bg;
    border-bottom: 2px solid #fff;

    th {
      padding: 0.5rem;
      border-bottom: 3px solid #eee;
      vertical-align: middle;
      text-shadow: none;
      font-size: 0.875rem;
      font-weight: 600;

      &.sortable {
        transition: border-color ease-out 0.2s;
        cursor: pointer;
        user-select: none;

        &:hover {
          border-bottom-color: default.$table-header-sort-active;
        }

        &.sort-asc,
        &.sort-desc {
          color: #000;
          border-bottom-color: default.$table-header-sort-active;
          background: transparent;
          text-shadow: none;
        }
      }
    }
  }

  tbody {
    tr {
      background: default.$table-row-bg;

      &:nth-child(even) {
        background: default.$table-alt-row-bg;
      }
    }

    td {
      padding: 1.25rem 0.5rem;
      vertical-align: top;
    }
  }

  + pagination-template {
    margin-top: 2rem;
  }
}

th {
  &.sortable {
    cursor: pointer;
  }

  .sort {
    position: relative;
    margin-left: 0.15rem;
    width: calc(#{default.$table-sort-icon-size} * 2);
    height: calc(#{default.$table-sort-icon-size} * 2);
    display: inline-block;

    &::before,
    &::after {
      content: ' ';
      position: absolute;
      display: block;
      border-color: default.$table-sort-icon-color transparent;
      border-style: solid;
    }

    &::before {
      top: -1px;
      border-width: 0 default.$table-sort-icon-size default.$table-sort-icon-size default.$table-sort-icon-size;
    }

    &::after {
      content: ' ';
      bottom: -1px;
      border-width: default.$table-sort-icon-size default.$table-sort-icon-size 0 default.$table-sort-icon-size;
    }

    &.sort-asc,
    &.sort-desc {
      &::before,
      &::after {
        border-color: default.$table-sort-icon-active-color transparent;
      }
    }

    &.sort-asc {
      &::before {
        top: 25%;
      }

      &::after {
        display: none;
      }
    }

    &.sort-desc {
      &::before {
        display: none;
      }

      &::after {
        bottom: 25%;
      }
    }
  }
}
